---
import Layout from '../layouts/Layout.astro';
import Social from '../components/Social.astro';
import Alvaro from '../components/Alvaro.astro'
import Timeline from '../components/Timeline.astro';
---

<Layout title="Portfolio Alvaro">
	<main>
<Alvaro/>
<Social/>
<Timeline/>
	</main>
</Layout>

