<section class=" w-full lg:w-[740px] mx-auto py-40">
    <h1 class="text-white text-3xl font-bold flex flex-row gap-x-4 pb-10 ">
        Hola! Soy Alvaro Arambulo  <a 
        class="flex justify-center items-center"> 
    </a>
    <h2 class="text-xl opacity-80 ">
        
        <span class="font-semibold underline dark:text-white decoration-indigo-500">Desarrollador FullStack.</span>
         Actualmente, me encuentro inmerso en el aprendizaje de las tecnologias mas optimas, buscando dominar las mismas para el desarrollo WEB moderno.
    </h2>
</h1>

</section>