---

---
<div class="w-full max-w-xl mx-auto">
    <a href="https://github.com/AlvaroTWM" class="flex grid-cols-2 gap-5 rounded-lg shadow md:flex-row md:max-w-xl bg-gray-950 border-r">
        <img class="object-cover w-full rounded-t-lg h-full md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./public/Spotify-Clone.png" alt="Spotify-Clone.jpg">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-white">Spotify Clone</h5>
            <p>En este Spotify Clone hecho con Svelte, Astro, React y Tailwind CSS, demuestro mi conocimientos utilizando APIS asi como con UI/UX</p>
        </div>
    </a>
</div>

<div class="w-full max-w-xl mx-auto">
    <a href="https://github.com/AlvaroTWM" class="flex grid-cols-2 gap-5 rounded-lg shadow md:flex-row md:max-w-xl bg-gray-950 border-r">
        <img class="object-cover w-full rounded-t-lg h-full md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="./public/Pokedex.png" alt="Spotify-Clone.jpg">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight dark:text-white">Pokedex</h5>
            <p>Mi primer proyecto hecho con REACT fue una pokedex basica, para testear el uso de APi's y estilisar una pagina web con el framework TAILWINDCSS</p>
        </div>
    </a>
</div>