---
import Instragram from "../icons/Instragram.astro"
import X from "../icons/X.astro"
import Gmail from "../icons/Gmail.astro"
---
<nav id="footer">
    <div class="flex-1 content-between justify-center flex gap-x-20 font-semibold gap-y-20">
    <Instragram class="h-6 w-6"/>
    <X class="h-6 w-6"/>
    <Gmail class="h-6 w-6"/>
    </div>
    <p class="flex-1 justify-center flex font-extralight gap-y-20 my-2">© Copyright 2024. Made by Alvaro Arambulo</p>
</nav>