<header class="flex justify-between py-5 w-[1120px] mx-auto">
<img class="rounded-full w-12 h-12" src="/public/test.png" alt="logo de Alvaro">
<nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">About Me</a>
    <a href="/Stack">Tech Stack</a>
    <a href="/Projects">Projects</a>
    <a href="/Contacts">Contact</a>
</nav>
</header>