---

---
<ol class="items-center sm:flex mt-10">
    <li class="relative mb-6 sm:mb-0">
        <div class="flex items-center">
            <div class="z-10 flex items-center justify-center w-6 h-6 bg-gray-100 rounded-full  sm:ring-8 dark:ring-gray-300 shrink-0">
                <svg class="w-2.5 h-2.5 text-black -800 dark:text-purple-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
        </div>
        <div class="mt-3 sm:pe-8">
            <h3 class="text-lg font-semibol dark:text-white">Agente de Mesa de Ayuda</h3>
            <time class=" mt-3 block mb-2 text-sm font-bold leading-none text-gray-400 dark:text-gray-500">Grupo Vierci (TIC SERCON) <br/>
                <br/>
                <span class ="w-6 mt-4 h-6">Julio 2023 - Actualmente</span></time>
            <p class="text-base font-bold text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore vitae aperiam sit rem tenetur at assumenda culpa mollitia, similique maxime. Nihil error quae architecto reprehenderit odit sed voluptatibus cumque omnis.</p>
        </div>
    </li>
</ol>
