---
import ExposeSpo from "./ExposeSpo.astro"
---
    <h1 class="justify-evenly gap-y-20 text-left md:text-center text-xl font-bold my-20">| Projects |</h1>
    <div class="max-w-sm w-full lg:max-w-full lg:flex">
    <ExposeSpo/>
      </div>