---
import Astr0 from "../icons/Astr0.astro"
import JS from "../icons/JS.astro"
import Mongodb from "../icons/Mongodb.astro"
import Nodejs from "../icons/Nodejs.astro"
import Tailwind from "../icons/Tailwind.astro"
---

<div class="flex-1 rounded-lg mt-4 p-8 shadow-xl content-between w-full lg:w-[200px] py-10 mx-auto">
    <h2></h2>
    <h3 class="text-3xl text-gray font-bold my-20">TechStack</h3>
        <div class="rounded border-current relative px-4">
            <ul class="font-bold content-between flex mx-auto justify-center gap-x-20 my-20 text-justify-center">
                <li><JS class=""/></li>
                <li><Mongodb class=""/></li>
                <li><Astr0/></li>
                <li><Tailwind class=""/></li>
                <li><Nodejs class=""/></li>
                <li></li>
            </ul>
        </div>
</div>